<div class="col">
  <div class="card h-100 shadow-sm">
    <p class="center">Time Left: {{ timer }}</p>
    <img src="../../../assets/images/car.jpeg" class="card-img-top" alt="..." />
    <div class="card-body">
      <div class="row clearfix mb-3">
        <div class="col-md-6">
          <h2>Audi a8</h2>

          <table class="table table-hover">
            <tbody>
              <tr>
                <th scope="row">Transmission:</th>
                <td>Automatic</td>
              </tr>
              <tr>
                <th scope="row">Transmission:</th>
                <td>Automatic</td>
              </tr>
              <tr>
                <th scope="row">Transmission:</th>
                <td>Automatic</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 text-right">
          <h3 class="float-end">12354.00€</h3>
          <div class="input-bid">
            <input type="number" id="" name="quantity" min="1" max="100" />
          </div>

          <div class="btn-bid">
            <button class="btn btn-primary">Bid</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
